<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Secret Santa - Give the Gift of Gifts</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- app styles -->
    <link href="/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <div class="container" id="secret-santa">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!--
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            -->
          </ul>
        </nav>
        <h3 class="text-muted">Secret Santa</h3>
      </div>

      <div class="jumbotron">
        <h1>Give the gift of gifts</h1>
        <p class="lead">Fill out the participants below and have them randomly assigned</p>
        <p><a class="btn btn-lg btn-info" href="#participants" role="button">Get Started</a></p>
      </div>

      <div class="row marketing" id="participants">
        <div class="col-lg-12">
          <form method="post" v-on:submit.prevent="assign">
            <h2>Participants <a v-on:click="addParticipant()" class="btn btn-default btn-sm">Add</a></h2>
            <div v-for="(participant, index) in participants" class="form-inline">
              <div class="form-group" v-bind:class="{ 'has-error': participant.has_error('name') }">
                <input type="text" name="name" class="form-control" placeholder="Name" v-on:keyup="validate(participant)" v-model="participant.name" v-bind:name="'name' + index">
              </div>
              <div class="form-group" v-bind:class="{ 'has-error': participant.has_error('email') }">
                <input type="email" v-bind:name="'email' + index" class="form-control" placeholder="Email" v-on:keyup="validate(participant)" v-model="participant.email">
              </div>
              <div class="form-group">
                <select class="form-control" v-model="participant.exception" v-bind:disabled="participants.length <= 1">
                  <option value="">-- can match with anyone --</option>
                  <option v-for="exception in exceptions(participant)" v-bind:value="exception.email">Don't match with {$ exception.name $}</option>
                </select>
              </div>
              <div class="form-group">
                <a class="btn btn-link" v-on:click="removeParticipant(index)">x</a>
              </div>
            </div>
            <div class="form-control">
              <div class="radio">
                <label>
                  <input type="radio" name="secret" v-model="secret" value="false">
                  Display results
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="secret" v-model="secret" value="true">
                  Keep results hidden
                </label>
              </div>
            </div>
          
            <!-- results -->
            <div id="results" class="row marketing">
              <!-- error -->
              <div class="col-lg-12" v-if="error">
                <div class="alert alert-block alert-danger"><strong>Failed assigning! </strong> {$ error $}</div>
              </div>
              <!-- success -->
              <div class="col-lg-12" v-if="assigned.length">
                <div class="alert alert-block alert-success"><strong>Successfully matched everyone!</strong></div>
                <h2>Results</h2>
                <div v-for="participant in assigned">
                  {$ participant.buyer.name $} buys a gift for
                  <span v-if="secret == 'true'">[secret]</span>
                  <span v-if="secret != 'true'">{$ participant.recipient.name $}</span>
                </div> 
                <div>
                  <button class="btn btn-primary btn-lg" v-if="!email_sent" v-on:click="send_emails()"><span class="glyphicon glyphicon-envelope"></span> Email Participants</button>
                  <button class="btn btn-success btn-lg disabled" disabled v-if="email_sent"><span class="glyphicon glyphicon-ok"></span> Emailed</button>
                </div>
              </div>
            </div>
            
            <div>
              <button class="btn btn-lg btn-block assign" v-bind:class="{disabled: !is_valid(), 'btn-success': !assigned.length, 'btn-warning': assigned.length}" v-bind:disabled="!is_valid()">
                <span class="glyphicon glyphicon-random"></span>
                <span v-if="!assigned.length">Assign</span>
                <span v-if="assigned.length">Reassign</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <footer class="footer">
        <p><a href="https://github.com/flackdl/secret-santa">made by Danny Flack</a></p>
      </footer>

    </div> <!-- /container -->
    
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
   <script src="/app.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
